* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-montserrat), 'Arial';
}


h1, h2, h3, h4, h5, p {
  margin: 0;
}

a, input, button {
  font-family: var(--font-montserrat), 'Arial';
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.btnIcon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

.btnIcon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

.btnIcon:active .trackPlay__likeSvg,
.btnIcon:active .trackPlay__dislikeSvg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

.btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

.btn-text:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.auth-container {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}